@import url(../css/header-footer.css);
@import url(../css/navbar.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    padding: 0 80px;
    background-color: #000;
}
.nav-bar-items .nav-bar-item .about::after{
    width: 120%;
}
/* STArt of title-desc-section */
.title-desc-section{
    padding: 80px 0 60px 0;
}
.title-desc-section .title-container{
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 112px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(45deg, #ce06d6, #f440a3 28%, #fdc7ca 61%, #6183f3);
    -webkit-background-clip: text;
}
.title-desc-section .img-desc-big-container{
    padding-top: 40px;
    display: flex;
    /* background-color: yellowgreen; */
}
.img-desc-big-container .img-sub-desc-container{
    padding-right: 60px;
}
.img-sub-desc-container .img-container{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    z-index: 0;
}
.img-sub-desc-container .img-container::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:linear-gradient(45deg, #ce06d6, #f440a3 28%, #fdc7ca 61%, #6183f3);
    z-index:-1;
    top: 0;
    left: 0;
    animation: scaling 1s ease infinite;
}
@keyframes scaling{
    0%{
        transform: scale3d(1.04,1.04,1);
    }
    25%{
        transform: scale(1.05,1.05,1);
    }
    50%{
        transform: scale(1.06,1.06,1);
    }
    100%{
        transform: scale(1.07,1.07,1);
    }
}
.img-container img{
    border-radius: 50%;
}
.img-sub-desc-container .sub-desc-container{
    padding:40px 0 60px 60px ;
    font-family: 'Playfair Display';
}
.sub-desc-container .sub-desc-title{
    color: #d2177e;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
}
.sub-desc-container .sub-desc{
    color: #fdc7ca;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 20px;
}
.title-desc-section .desc-big-container{
    /* background-color: lightcoral; */
    padding: 40px 120px 40px 40px;
    width: 80%;
}
.desc-title-container .desc-title{
    font-size: 25px;
    color: #d2177e;
    width: 100%;
    padding-bottom: 40px;
}
.desc-big-container .desc-container{
    display: flex;
    /* background-color: orange; */
    flex-flow: row wrap;
    justify-content: space-between;
    /* width: 80%; */
}
.desc-container .desc{
    width: 45%;
    font-size: 16px;
    font-family: 'Merriweather';
    color: #fdc7ca;
    letter-spacing: 1px;
}
.desc-container .desc2 span{
    color: #d2177e;
}
/* --start of techstack section-- */
.tech-stack-section .tech-stack-container{
    background-color: #d2177e;
    padding: 100px 200px;
    font-size: 30px;
    line-height: 2;
    border-radius: 30px;
}
.tech-stack-container .tech-stack{
    width: 100%;
    color: white;
    font-family: 'Playfair Display';
}
.tech-stack span{
    display: inline-block;
    color: white;
    background-color: black;
    height: 80px;
    border-radius: 60% 40% 30% 70%;
    padding: 0 20px;
    margin: 10px;
    animation: borderradiuschange 7s ease-in-out infinite;
}
@keyframes borderradiuschange{
    0%{
        border-radius: 60% 40% 30% 70%;
    }
    50%{
        border-radius: 30% 60% 70% 40%;
    }
    100%{
        border-radius: 60% 40% 30% 70%;
    }
}
/* --Start of experiences section */
.experience-section{
    /* background-color: aqua; */
    height: 1100px;
    position: relative;
}
.experience-section .experience-title-container{
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
    font-size: 112px;
    transform: rotate(-90deg);
    height: 150px;
    font-family: 'Playfair Display';
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: -21%;
    color: transparent;
    -webkit-background-clip: text;
}
.experience-section .experiences-container{
    /* background-color: lightcoral; */
    width: 89%;
    height:800px;
    border-radius: 30px;
    position: absolute;
    top: 15%;
    left: 10%;
    background-image: url(../images/lights4.jpg);
    background-size: 100% 100%;
    padding: 60px;
}
.experiences-container .fresher-title-container,.experiences-container .but-container{
    background:linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
    color: white;
    font-family: 'Playfair Display';
    font-size: 64px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    padding: 40px;
    border-radius: 50%;
}
.experiences-container .but-container{
    /* color: white; */
    font-size: 26px;
    width: 50%;
    font-weight: 400;
}
.experiences-container .fresher-title-container{
    transform: translateX(50%) translateY(50%);
}
.experiences-container .b-c1{
    animation: moveupdown 2s ease-in-out infinite;
}
.experiences-container .b-c2{
    animation: moveupdown2 2s ease-in-out infinite;
}
.experiences-container .b-c3{
    animation: moveupdown3 2s ease-in-out infinite;
}
@keyframes moveupdown{
    0%{
        transform: translateY(140%);
    }
    50%{
        transform: translateY(90%);
    }
    100%{
        transform: translateY(140%);
    }
}
@keyframes moveupdown2{
    0%{
        transform: translateX(110%) translateY(30%);
    }
    50%{
        transform: translateX(110%) translateY(-20%);
    }
    100%{
        transform: translateX(110%) translateY(30%);
    }
}
@keyframes moveupdown3{
    0%{
        transform: translateX(50%) translateY(90%);
    }
    50%{
        transform: translateX(50%) translateY(40%);
    }
    100%{
        transform: translateX(50%) translateY(90%);
    }
}