@import url(../css/header-footer.css);
@import url(../css/navbar.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    padding: 0 80px;
    background-color: #000;
}
.nav-bar-container{
    display: none;
}
main .name-cube-section{
    display: flex;
}
.name-cube-section .name-title-container{
    width: 50%;
    height: 700px;
    font-family: 'Playfair Display';
    padding-top: 400px;
}
.name-title-container .first-name,.name-title-container .last-name{
    font-size: 90px;
    background: linear-gradient(45deg, #ce06d6, #f440a3 28%, #fdc7ca 61%, #6183f3);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
}
.name-title-container .last-name{
    margin-top: -40px;
}
.name-title-container .title{
    font-size: 32px;
    background: linear-gradient(45deg, #ce06d6, #f440a3 28%, #fdc7ca 61%, #6183f3);
    color: transparent;
    -webkit-background-clip: text;
}
.name-cube-section .cube-container{
    width: 100%;
    text-align: center;
    padding: 250px 160px;
}
.cube-container .box-area{
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 8s linear infinite;
}
.cube-container .box-area:hover{
    animation-play-state: paused;
}
.box-area .box{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
}
.box-area .box-front{
    transform:rotateZ(45deg)  translateX(0px) translateY(0px) translateZ(155px);
}
.box-area .box-right{
    transform:  rotateY(-90deg) rotateZ(45deg) translate3d(0,0,155px);
}
.box-area .box-left{
    transform: rotateY(90deg) rotateZ(45deg) translate3d(0,0,155px);
}
.box-area .box-back{
    transform: rotateY(180deg) rotateZ(45deg) translate3d(0,0,155px);
}
@keyframes rotate{
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}
.box-area .box a{
    transform: rotate(-45deg);
    display: inline-block;
    color: white;
    font-family: "Playfair Display";
    font-size: 50px;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    padding: 10px;
}
.box a::after{
    content: '';
    position: absolute;
    width:100%;
    height: 100%;
    background:linear-gradient(45deg, #ce06d6, #f440a3 28%, #fdc7ca 61%, #6183f3);
    top:0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 10px #d2177e;
    opacity: 0;
    transition: 0.5s;
    border-radius: 5px;
}
.box a:hover::after{
    opacity: 1;
}
main .description-section{
    padding: 0 0;
    width: 55%;
    display: grid;
    grid-template-columns: 5fr 5fr;
    background-image: url(../images/powerpoint-abstract-background-abstract-frame-nice-business-original-underline-title-94919396-removebg-preview.png);
    background-size: 100% 100%;
    padding-top: 100px;
    padding-right: 40px;
}
.description-section .desc{
    font-family: 'Playfair Display';
    font-size: 16px;
    width: 80%;
    color: white;
    padding-bottom: 40px;
    letter-spacing: 1px;
}
