@import url(../css/header-footer.css);
@import url(../css/navbar.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    padding: 0 80px;
    background-color: #000;
}
.nav-bar-items .nav-bar-item .projects::after{
    width: 120%;
}
main .projects-section{
    /* background-color: aqua; */
    padding: 100px 0;
}
.projects-section .title-container{
    font-family: 'Playfair Display';
    font-size: 64px;
    color: transparent;
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
    -webkit-background-clip: text;
    width: 30%;
    line-height: 1.2;
    position: fixed;
    top: 200px;
}
.projects-section .projects-container{
    /* background-color: yellow; */
    width: 60%;
    position:relative;
    left:40% ;
}
.projects-container .project-container{
    background-color: #333;
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    display: flex;
    margin-bottom: 40px;
    
}
.project-container .project-img-container{
    width: 300px;
    height: 300px;
    background-size: 100% 100%;
    animation: borderradiuschange 7s ease-in-out infinite;
}
@keyframes borderradiuschange{
    0%{
        border-radius: 60% 40% 30% 70%;
    }
    50%{
        border-radius: 30% 60% 70% 40%;
    }
    100%{
        border-radius: 60% 40% 30% 70%;
    }
}
.project-container .p-i-c1{
    background-image: url(../images/Cryptobit.gif);
}
.project-container .p-i-c2{
    background-image: url(../images/reshape.webp);
}
.project-title-desc-link-container{
    padding: 40px;
    font-family: 'Playfair Display';
    color: #d2177e;
}
.project-title-desc-link-container .project-title-container{
    font-size: 40px;
    padding-bottom: 30px;
}
.project-title-desc-link-container .project-desc-container{
    font-size: 32px;
    padding-bottom: 30px;
}
.project-link-container a{
    font-size: 20px;
    color: white;
    position: relative;
}
.project-link-container a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    top: 100%;
    left: 0;
    transition: 0.3s ease-in-out;
}
.project-link-container a:hover::after{
    width: 100%;
}
.project-link-container a i{
    opacity: 0;
    transition: 0.3s ease-in-out;
    transform: translate(-200%,100%) rotate(-45deg);
}
.project-link-container a:hover i{
    opacity: 1;
    transform: translate(0,0) rotate(-45deg);
}