@media (max-width:500px){
    body{padding: 0 10px}
    header .social-nav-container{display: none;}
    .nav-bar-container .nav-bar-items{width: 100%;}
    .projects-section .title-container{position: static;width: 100%;padding-bottom: 40px;}
    .projects-section .projects-container{position: static; width: 100%;}
    main .projects-section{display: flex;flex-direction: column;}
    .projects-container .project-container{flex-direction: column; justify-content: center; align-items: center;}
    footer{flex-direction: column;justify-content: center;align-items: center;}
}